<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <!-- Root logger configuration -->
    <root>
      <level value="INFO" /> <!-- Set the logging level to INFO -->
      <appender-ref ref="FileAppender" /> <!-- Use the FileAppender defined below -->
    </root>

    <!-- File appender configuration -->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- Log file name -->
      <file value="log" />
      <!-- Append logs to the file instead of overwriting -->
      <appendToFile value="true" />
      <!-- Rolling configuration -->
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <!-- Log file encoding -->
      <encoding value="utf-8" />
      <!-- Log pattern -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>